@(metas: List[Meta])(contMetasSemana: Array[Int])(contMetasCumpridas: Int)(contMetasNaoCumpridas: Int)

<!DOCTYPE html>

<html>
<head lang="pt">
	<meta charset="utf-8">
    <title>Metas semanais</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <!--<script src="https://code.jquery.com/jquery-2.1.1.min.js")"></script>        
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>        
    <script src="@routes.Assets.at("javascripts/hello.js")"></script>-->        
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12 panel-title">
                                <h3>Metas:</h3>
                            </div>
                            <div class="panel-body">
                            	<p>Para mostrar a descrição da meta, clique nela.</p>
                            </div>
                        </div>
                    </div>
                    <table class="table" id="metas">
                    @if(!metas.isEmpty()){
                        <tr class="row">
                    		<th><h4>Título</h4></th>
                    		<th><h4>Prazo</h4></th>
                    		<th><h4>Status</h4></th>
                    		<th><h4>Prioridade</h4></th>
                    		<th><h4>Alterar status</h4></th>
                    		<th><h4>Remover</h4></th>
                    	</tr>
                        @for(meta <- metas){
							@if(!meta.isCumprida()){
                        		<tr class="row" id="show@meta.getId()">
                        			<td class="atrib" id="show@meta.getId()"><strong>@meta.getNome()</strong></td>
                        			<td class="atrib" id="show@meta.getId()">@meta.getPrazo()</td>
                        			<td class="atrib" id="show@meta.getId()">A cumprir</td>
									@if(meta.getPrioridade()){
										<td class="atrib">Alta</td>
									}else{
										<td class="atrib">Baixa</td>
									}
							}else{
                        		<tr class="row" style="background-color:#E0FFE7">
                        			<td class="atrib" id="show@meta.getId()"><strong>@meta.getNome()</strong></td>
                        			<td class="atrib" id="show@meta.getId()">@meta.getPrazo()</td>
                        			<td class="atrib" id="show@meta.getId()">Cumprida</td>
									@if(meta.getPrioridade()){
										<td class="atrib id="show@meta.getId()"">Alta</td>
									}else{
										<td class="atrib" id="show@meta.getId()">Baixa</td>
									}
							}
							<td>
								<form action="@routes.Application.updateMeta(meta.getId())" method="post">
									<input type="submit" value="Alterar" class="btn btn-primary">
								</form>
							</td>
							<td>
								<form action="@routes.Application.removeMeta(meta.getId())" method="post">
									<input type="submit" value="Remover" class="btn btn-primary">
	                            	</button>
								</form>
							</td>
						</tr>
						<tr class="row descricao" id="desc@meta.getId()" style="display:none">
							<td colspan="6"><strong>Descrição:</strong> @meta.getDescricao()</td>
						</tr>
						}
                    } else {
                    	<tr>
                    		<th><h4> Nenhuma meta adicionada.</h4></th>
                    	</tr>
					}
					</table>
                </div>
            </div>
		</div>
		
		<div class="row">
            <div class="panel panel-default">
                <div class="panel-heading panel-title">
                    <h4>Resumo:</h4>
                </div>
                <div class="panel-body">
				<div class="col-md-6">
					<table class="table">
						<tr class="row info-geral">
							<td><h5>Total de metas</h5></td>
							<td><h5>Metas a cumprir</h5></td>
							<td><h5>Metas cumpridas</h5></td>
						</tr>
						<tr class="row info-geral">
							<td>@metas.length</td>
							<td>@contMetasNaoCumpridas</td>
							<td>@contMetasCumpridas</td>
						</tr>
					</table>
				</div>
				<div class="col-md-6">
					<table class="table">
						<tr class="row info-geral">
							<td><h5>Semana 1</h5></td>
							<td><h5>Semana 2</h5></td>
							<td><h5>Semana 3</h5></td>
							<td><h5>Semana 4</h5></td>
							<td><h5>Semana 5</h5></td>
							<td><h5>Semana 6</h5></td>
						</tr>
						<tr class="row info-geral">
							<td>@contMetasSemana(0)</td>
							<td>@contMetasSemana(1)</td>
							<td>@contMetasSemana(2)</td>
							<td>@contMetasSemana(3)</td>
							<td>@contMetasSemana(4)</td>
							<td>@contMetasSemana(5)</td>
						</tr>
					</table>
				</div>
				</div>
			</div>
		</div>
		
	<div class="row panel panel-default panel-body">
		<form method="post" action="/meta/add">
		<div class="row">
			<div class="col-md-12">
	           	<div class="col-md-6">
					<label>Adicionar nova meta:</label>
	                <input type="text" class="form-control" name="titulo" maxlength="50" required>
	            </div>
				<div class="col-md-6">
					<label>Prioridade:</label>
					<div class="radio">
	            		<label><input type="radio" name="prioridade" value="1" checked> Alta</label><br>
	                	<label><input type="radio" name="prioridade" value="0"> Baixa</label>
	            	</div>
	           	</div>
			</div>
		</div>
		<div class="row">
	        <div class="col-md-12">
	            <div class="col-md-6">
					<label for="descricao">Descrição: </label>
					<input type="text" class="form-control" name="descricao" maxlength="110"><br>
	            </div>
				<div class="col-md-6">
		            <label for="prazo">Prazo: </label><br>
					<input type="date" name="prazo" min="2014-11-16" max="2014-12-27" required>
					<input type="submit" class="btn btn-primary" value="Adicionar">
				</div>
			</div>
		</div>
		</form>
	</div>
	</div>
</body>
</html>


